@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Inter&family=Poppins:wght@500;700&display=swap');
@import url("../assets/fontawesome/css/fontawesome.css");
@import url("../assets/fontawesome/css/brands.css");
@import url("../assets/fontawesome/css/solid.css");

:root {
  --dark-bg: #1d1e22;
  --primary-accent: #246893;
  --secondary-accent: #f19f4d;
  --grey-color: #e3e3e3;
  --spacing: 1rem;
  --gradient: linear-gradient(62deg, rgba(209,209,209,1) 34%, rgba(227,227,227,1) 48%, rgba(227,227,227,1) 92%, rgba(209,209,209,1) 100%);
  --rounded: 5px;
  --short-transition: 0.2s;
  --long-transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  cursor: default;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.align-container-center {
  padding-block: 3rem;
  position: relative;
  padding-inline: var(--spacing);
}

#header {
  margin-top: -1%;
  background: #e3e3e3;
  background: var(--gradient);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.container {
  margin-top: 1%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 540px));
  align-content: start;
  justify-content: space-between;
  padding-inline: var(--spacing);
  padding-top: 1rem;
  margin: auto;
  overflow: hidden;
}

.content .mobile-nav {
  align-self: center;
  justify-self: end;
}

header nav {
  order: 3;
  grid-column-start: span 2;
}

header nav ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}

header .nav-invisible {
  height: 0;
  border: 0;
  margin: 0;
}

header nav {
  border: 5px solid var(--dark-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.logo, .mobile-nav, .mobile-scroll-up {
  font-size: 2.3rem;
  cursor: pointer;
}
  
nav li {
  display: inline;
  padding: 0.5rem;
  list-style: none;
  font-weight: bold;
  color: var(--primary-accent);
  cursor: pointer;
  transition: var(--long-transition);
}

nav li:hover {
  color:rgb(33, 48, 81);
  transition: var(--long-transition);
}

#hero-container {
  padding-top: 3rem;
  position: relative;
  display: flex;
}

.hero-grid {
  padding-inline: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portrait {
  display: none;
  width: 100%;
}

.skewed-container {
  transform: rotate(-1deg) skew(-1deg);
}

.unskewed-content {
  transform: rotate(1deg) skew(1deg);
}

#hero-section {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero-section .title-section {
  position: relative;
}

#hero-section p {
  width: 75%;
}

.sub-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: inline-block;
}

#hero-section .title-section .sub-title {
  font-size: small;
  position: absolute;
  padding: 0.3rem 1rem;
  rotate: -7deg;
  top: -1.2rem;
  left: -.2rem;
  background: var(--secondary-accent);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: white;
}

.title, h1, h2, h3, .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
}

#hero-container .title {
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}

.post-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--primary-accent);
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.btn {
  font-size: 0.7rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--long-transition);
}

.btn-primary, .btn-primary:visited {
  border: 2px solid var(--primary-accent);
  background-color: var(--primary-accent);
  color: white;
}

.btn-primary:hover {
  border: 2px solid var(--primary-accent);
  background-color: rgba(0, 0, 0, 0);
  color: var(--dark-bg);
}

.btn-secondary {
  border: 2px solid var(--primary-accent);
  background-color: rgba(0, 0, 0, 0);
}

.btn-secondary:hover {
  background-color: var(--primary-accent);
  color: white;
}

main {
  flex-grow: 1;
}

#about-me, #expertise-container, .sub-main {
  scroll-margin-top: 1.5rem;
}

.list-items-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 1rem;
}

.list-items-block li {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.list-items-inline {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  flex-wrap: wrap;
}

.list-padding li {
  padding-bottom: 1rem;
}

li span {
  padding: 0.5rem 1rem;
  border-radius: var(--rounded);
  background-color: var(--dark-bg);
  color: #e8e8e8;
}

li span i {
  margin-right: 1rem;
}

.sub-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-main .title-section {
  display: flex;
  margin-bottom: var(--spacing);
}

.sub-main-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacing);
}

#expertise-container .title-section .sub-title {
  color: orange;
  margin-bottom: 1rem;
}

.title-section .arrow {
  display: none;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-rows: minmax(0, 1fr);
  gap: var(--spacing);
  margin-bottom: 2rem;
}

.grid > * {
  cursor: default;
  padding-inline: 2rem;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

#expertise-container .mentions {
  align-self: flex-start;
}

#portfolio-container {
  margin-top: -1rem;
}

#portfolio-container .slider-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  overflow: hidden;
}

.slider-grid .arrows {
  z-index: 1;
  font-size: 3rem;
  align-self: center;
  margin: 0 auto;
  cursor: pointer;
  transition: var(--short-transition);
}

.slider-grid .arrows:hover {
  opacity: 0.7;
  transition: var(--short-transition);
}

#portfolio-container .sub-main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2rem;
  background: var(--dark-bg);
  color: var(--grey-color);
}

.portfolio-content p {
  flex-grow: 1;
}

.portfolio-content .list-items-inline {
  cursor: pointer;
  color: #e8a15a;
  transition: var(--short-transition);
}

.portfolio-content .list-items-inline li:hover {
  opacity: 0.9;
  transition: var(--short-transition);
}

.sub-main-grid em {
  font-style: unset;
  font-size: 0.9rem;
}

#about-me, #about-me .tags-container {
  position: relative;
}

#about-me svg {
  position: absolute;
  z-index: -1;
}

#about-me .info-box .telephone-svg {
  width: 125px;
  height: 125px;
  bottom: -10%;
  right: 0%;
  fill: #486b41;
}

.hamburger-svg {
  visibility: hidden;
  width: 100px;
  height: 100px;
  top: 0%;
  right: 0;
  rotate: 10deg;
  fill: #6c0000;
}

#about-me .sub-title {
  color: purple;
}

#about-me p {
  font-family: 'Patrick Hand';
  font-size: 1.3rem;
  color: var(--dark-bg);
  position: relative;
  margin-top: 0;
}

.title-section .sub-title svg {
  padding-left: 2px;
  padding-right: 4px;
}

.info-box {
  position: relative;
  margin-block: 3rem;
  padding: 1.5rem 2rem;

  border: solid 5px var(--secondary-accent);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

.info-box i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.info-box li {
  transition: var(--short-transition);
}

.info-box li:hover {
  cursor: pointer;
  color: var(--primary-accent);
  transition: var(--short-transition);
}

a, a:visited {
  color: unset;
  text-decoration: none;
}

.justify-text {
  text-align: justify;
}

.indent-space::before {
  content: "..";
  visibility: hidden;
}

.divider {
  color: var(--grey-color)
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lightbox img {
  max-width: 80%;
}

ul {
  list-style: none;
}

footer {
  background: var(--grey-color);
  background: var(--gradient);
  padding-block: 2rem;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 540px));
  align-content: start;
  justify-content: space-between;
  padding-inline: var(--spacing);
  margin: auto;
}

.footer-content .mobile-scroll-up {
  justify-self: end;
  align-self: center;
}

footer .copyright {
  align-self: center;
  grid-column-start: span 2;
  color: rgb(129, 129, 129);
}